/*====================================== reset.css is here ========================================*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
	margin: 0;
	padding: 0;
}

/*
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*/
q:before,
q:after {
	content: '';
}

/***************************************************************************/

/***************************************************************************/

.labeltextdefault {
	/* font-family: Verdana, Arial, Helvetica, sans-serif; */
	color: #333;
}

.labeltext {
	/* font-family: Verdana, Arial, Helvetica, sans-serif; */
	font-size: 17px;
	color: #777;
}

.inputtext::-moz-placeholder {
	color: #BEB9B9;
	opacity: 0.8;
}

.inputtext::-webkit-input-placeholder {
	color: #BEB9B9;
}

.inputtext {
	height: 22px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 14px;
	color: #555;
	margin: 3px 12px;
}

.inputtext:focus {
	background: #EFFFE0;
	border-color: #66afe9;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
	outline: 0 none;
}

#num_atendidos {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	color: #000000;
	/* width: 100%; */

}

#TV.table {
	margin-left: 100%;
	/* weight:12%; */
	color: #000111;
	font-size: 200px;
}


.clear {
	clear: both;
	font-size: 1px;
	line-height: 1px;
	display: block;
	height: 0;
}

/**************************************************************************************/
a {
	color: #666666;
	text-decoration: none;
	outline: 0 none;
}

a:hover {
	color: #000;
	text-decoration: none;
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 22px;
}

h3 {
	font-size: 40px;
}

h4 {
	font-size: 70px;
}

h5 {
	font-size: 120px;
}

h6 {
	font-size: 200px;
}

/*----------------------------------------------------------------------------------*/
html {
	height: 100%;
}

body {
	color: #000000;
	background: #FFFFFF;
}

/* ---------------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------------*/
.SBRA2 {
	background: #EAEAEA;
}



a.menu {
	text-decoration: none;
	color: #e2e2e2;
}

a.menu:hover {
	text-decoration: underline;
	color: #e2e2e2;
}

a.menu1 {
	text-decoration: none;
	color: #e2e2e2;
}

a.menu1:hover {
	text-decoration: underline;
	color: #e2e2e2;
}

a.menu2 {
	text-decoration: none;
	color: #e2e2e2;
}

a.menu2:hover {
	text-decoration: underline;
	color: #e2e2e2;
}

a.menu3 {
	text-decoration: none;
	color: #e2e2e2;
}

a.menu3:hover {
	text-decoration: underline;
	color: #e2e2e2;
}

a.menu4 {
	text-decoration: none;
	color: #e2e2e2;
}

a.menu4:hover {
	text-decoration: underline;
	color: #e2e2e2;
}

/* ---------------------------------------------------------------------------------*/

/* ----------------------- layout ----------*/
.wrapper {
	margin: 0 auto;
	width: 100%;
	padding: 0px 0 0 0;
}

.continer {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100vw;
	background-color: #4790FF;
	height: 120px;
	padding: 30px 50px;


}

.banner {
	width: auto;
	margin: 0 auto;
	padding-top: 10px;
	padding-right: 0;
	padding-left: 20px;
	padding-bottom: 10px;
}

.content {
	width: 100%;
	height: 100%;
	background: #fff;
	display: flex !important;
	flex-direction: row;
	justify-content: space-evenly;
}

.footerHome {
	background-color: #4790FF;
	height: 5rem;
	width: 100%;
}

.footer {
	width: 100%;

	background: #fff;
	padding: 0;
	float: left;
}

/*-------------------------------------------*/


/* ------------------ HEADER HERE -------------------*/

.logo {
	justify-self: flex-start;


}

.logo a {
	/* font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; */
	font-weight: normal;
	font-size: 35px;

}

.logo p {
	/* font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; */
	color: white;
	font-weight: bold;
	font-size: 5rem;

}

/* ------------------------- NAVIGATION HERE ---------------*/

#nav ul li a {

	margin: 0px;
	/* font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; */
	font-size: 1.7rem;
	color: white;
}

#nav ul li a:hover {
	font-weight: bolder;
	background-color: #4790FF !important;

}

#nav ul li a.active {
	font-weight: 800;
	background-color: #4790FF !important
}

/* ------------------ BANNER DETIALS HERE -------------------*/
.typs {
	width: 50%;
	height: 100%;
}

.typs ul {

	list-style: none;
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	width: 100%;
	padding: 40px;

}

.typs ul li {

	/* width: 189px; */
	/* display: inline-block; */
	/* background-color: #ee8484; */
	text-align: center;
	border-radius: 15px;
	height: 100px;

}

/* .typs ul li span {
	padding-top: 15PX;
	padding-right: 0;
	padding-bottom: 6px;

	margin: 0px;

	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #43424e;
} */
/* 
.typs ul li p {
	padding: 0px;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	padding: 10px 0 20px 0;
	line-height: 20px;
} */

.typs ul li a {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
	font-size: 35px;
	border-radius: 5px;
	width: 100%;
	height: 100%;
	padding: 10px 30px;
	text-align: center;
	color: #ffffff;
	font-weight: bold;

}


.typs ul li span.type1 {
	display: inline-block;
	margin: 0px;
	display: inline-block;
	/* font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; */
	font-size: 28px;
	color: #FFFFFF;
	-webkit-box-shadow: 2px 2px;
	box-shadow: 2px 2px;
	text-shadow: 2px 2px #d57574;
}

.typs ul li a:hover {
	font-weight: bolder;
	text-decoration: none !important;
	transform: scale(1.1);
}

.typs ul li span.type2 {
	display: inline-block;
	margin: 0px;
	display: inline-block;
	/* font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; */
	font-size: 28px;
	color: #FFFFFF;
	-webkit-box-shadow: 2px 2px;
	box-shadow: 2px 2px;

	text-shadow: 2px 2px #887dd6;
}

.typs ul li span.type3 {
	display: inline-block;
	margin: 0px;
	display: inline-block;
	/* font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; */
	font-size: 28px;
	color: #FFFFFF;
	-webkit-box-shadow: 2px 2px;
	box-shadow: 2px 2px;

	text-shadow: 2px 2px #739ae5;
}

.typs ul li span.type4 {
	display: inline-block;
	margin: 0px;
	display: inline-block;
	/* font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; */
	font-size: 28px;
	color: #FFFFFF;
	-webkit-box-shadow: 2px 2px;
	box-shadow: 2px 2px;

	text-shadow: 2px 2px #91b971;
}

.typs2 {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	padding: 15px;
}

/* ------------------ NEWS HERE -------------------*/
.news {
	width: fit-content;
	padding: 15px;
	background: #f7f7f7;
	border: 1px solid #eeeeee;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
	box-shadow: 0 8px 15px 0 #ccc;
}

/* ------------------ NEWS HERE -------------------*/
/* .news .text {
	width: 400px;
	margin: 20px;
	padding: 15px;
	background: #f7f7f7;
	border: 1px solid #eeeeee;
	display: inline-block;
} */

.news h2 {
	font-size: 38px;
	color: #666666;
	padding: 0 0 18px 0;
	font-weight: normal;
}

.news p {
	font-size: 18px;
	color: #666666;
	line-height: 20px;
	padding-top: 0;
	padding-right: 0;
	padding-left: 0;
}

.news tr td {

	font-size: 15px;
}


.news p span {
	/* font-family: Arial, Helvetica, sans-serif; */
	font-size: 12px;
	color: #333333;
	line-height: 20px;
	display: block;
}

.news p span a {
	text-decoration: underline;
}

.news p span a:hover {
	text-decoration: none;
}

/* ------------------ FOOTER HERE -------------------*/
.footer_top {
	padding: 0 0 26px 0;
}

.footer_continer {
	width: 958px;
	margin: 0 auto;
	border-bottom: 1px solid #cccccc;
	background: #F8F8F8;
	padding: 0px 10px 0px 10px;
}

.footer_nav {
	width: 295px;
	padding: 27px 0 0 0;
	float: left;
}

.footer_nav ul {
	/* float: left; */
	display: inline-block;
	width: 310px;
	padding: 0px;
	margin: 0px;
	list-style: none;
}

.footer_nav ul li {
	/* float: left; */
	display: inline-block;
	padding: 0px;
	margin: 0px;
	background: url(../images/nav_line.jpg) no-repeat right center;
}

.footer_nav ul li a {
	padding: 0px;
	margin: 0px;
	/* font-family: Arial, Helvetica, sans-serif; */
	font-size: 11px;
	color: #333333;
	padding: 0 9px;
}

.footer_nav ul li a:hover {
	text-decoration: underline;
}

.social {
	float: right;
	padding: 27px 0 0 0;
}

.social a.tw {
	display: inline-block;
	margin: 0 11px 0 0;
	background: url(../images/tw-icon.png) no-repeat left center;
	padding: 1px 0 0 22px;
	/* font-family: Arial, Helvetica, sans-serif; */
	font-size: 12px;
	color: #333333;
}

.social a.fb {
	display: inline-block;
	background: url(../images/fb-icon.png) no-repeat left center;
	padding: 1px 0 0 22px;
	/* font-family: Arial, Helvetica, sans-serif; */
	font-size: 12px;
	color: #333333;
}

.copy {
	width: 978px;
	margin: 0 auto;
	background: #F8F8F8;
	padding: 28px 0px 30px 0px;
	border-top: 1px solid #fff;
}

.copy p {
	padding: 0px 0px 0px 20px;
	/* font-family: Arial, Helvetica, sans-serif; */
	font-size: 11px;
	color: #777;
}

.copy a {
	padding: 0px 0px 0px 0px;
	/* font-family: Arial, Helvetica, sans-serif; */
	font-size: 11px;
	color: #333333;
	display: inline-block;
	text-decoration: underline;
}

/* ------------------ FOOTER END -------------------*/
.news a {
	/* font-family: Arial, Helvetica, sans-serif; */
	color: #666666;
	padding-top: 6px;
	padding-right: 10px;
	padding-bottom: 6px;
	padding-left: 10px;
	border-radius: 3px;
	float: left;
	margin-top: 20px;
	display: block;
	font-size: 12px;
	border: 1px solid #d5d5d5;
	background-color: #fafafa;
}

.news a:hover {
	background-color: #DFDFDF;
}